
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  height: 100%;
}

input {
  padding: 8px;
  margin-right: 10px;
  margin-bottom: 10px;
  width: 200px;
}
.head
{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px; 
  background-color: rgb(243, 169, 9);
  border-bottom: 2px solid black;
  width: 100%;
  
 
}
.head1
{
  padding-left: 20px; ;
}
button {
  padding: 10px;
  background-color: #020202;
  color: black;
  border: 1px;
  cursor: pointer;
}

button:hover {
  background-color: #b5c5d6;
}

.user-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.user-repositories {
  flex: 1;
}

.user-repositories h3 {
  text-align: center;
}

.comparison-result {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}

.repo-card {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  max-width: 300px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.repo-card h2 {
  margin-bottom: 10px;
}

.repo-card p {
  margin: 0;
}
